@using AircraftStateCore.Services.Interfaces;
   
@inject IPlaneData planeData;
@inject ISimConnectService simconnect
@inject IDialogService DialogService

<div>
	<MudButton @onclick="() => Show()" Variant="Variant.Filled" Color="MudBlazor.Color.Primary">Save to DB</MudButton>

	<CustomDivider />
</div>

@code {
	private List<String> ProfileList { get; set; }
	private String ProfileName { get; set; }
	private String isDisabled { get; set; } = "disabled";

	protected override void OnInitialized()
	{

	}

	private async Task Show()
	{
		var parameters = new DialogParameters<DbSaveDialog>()
		{
			{ x => x.Profiles, planeData.Profiles }
		};

		var dialog = await DialogService.ShowAsync<DbSaveDialog>(string.Empty, parameters);
		var result = await dialog.Result;

		if (!result.Canceled)
		{
            var ProfileName = result.Data as string;
			simconnect.SaveDataToDb(ProfileName);
			await planeData.ResetProfiles();
		}
	}
}