@page "/helpPage"

<h2>Help</h2>

<h4>Introduction</h4>
<div>
This application was created to save the state of an aircraft in MSFS 2020 in order for it to be restored for the next flight allowing the user to begin where they left off.  
All data will be captured and saved, however, the data that will be sent to the sim can be selected.
<br /><br />
The page has a menu down the left side (each option described below) and icons on the top as follows:
<ul class="no-bullets">
        <li><div class="col-6 col-sm-4 col-md-3 col-lg-auto"><MudChip T="string" Class="small-pill" Variant="Variant.Filled" Label="true" Color="Color.Success">Connected to Sim</MudChip> The application is connected to the simulator and can send/receive data</div></li>
        <li><div class="col-6 col-sm-4 col-md-3 col-lg-auto"><MudChip T="string" Class="small-pill" Variant="Variant.Filled" Label="true" Color="Color.Error">Not Connected to Sim</MudChip> The application is not connected to the simulator and cannot send/receive data</div></li>
        <li><div class="col-6 col-sm-4 col-md-3 col-lg-auto"><MudChip T="string" Class="small-pill" Variant="Variant.Filled" Label="true" Color="Color.Info">Autosave enabled</MudChip> The application is set to auto-save data to the DB</div></li>
</ul>
</div>
<br /><br />
<b>Autosave</b> is an option to allow the application to automatically save a flight at the end.  It is triggered after the combination of the data has been sent to the sim from the application 
and the master battery switch is on.  The data will be saved when the master battery is switched to off.  This option can be turned off in settings.  Note that, to protect saved profile data after a simulator crash, autosave will not 
save when it determines that the readings are default.  The conditions that will not save are either of the following
<ul class="cols2">
    <li>Both Com radios are set to 124.85</li>
    <li>Longitude and Latitude are both 0</li>
</ul>
<br /><br />

<h4>Home Page</h4>
<div>
    The home page shows the current data that is being read from the sim.  Regardless of what data is being applied to the sim, all current data will be shown here.
    The <MudButton Variant="Variant.Filled" Color="Color.Primary">Save to DB</MudButton> will allow the current data to be saved to the database.   When saving, a profile name can be supplied allowing multiple sets of
    data for the same aircraft.
    <br /><br />
@*    If the application is not connected to the sim, for example, it was started before the sim was open, the
    <Button Color="Color.Primary">Connect To Sim</Button> button will be shown to allow the application to try to connect.
*@
</div>

<br /><br />
<h4>Apply Page</h4>
<div>
    The apply page is used to send data to the sim.  The application will try to match the plane to an existing profile which will be selected by default.  
    If no profile is found or a different profile is desired one can be selected from the select profile drop down.  Once a profile is slected, the data for that profile will be shown.  Note that only
    data that will be sent to the sim is shown.  Data can be selected from the settings page.
    <br /><br />
    The <MudButton Variant="Variant.Filled" Color="Color.Primary">Send to Sim</MudButton> will send the data from the screen to the sim.
    <br />
    The <MudButton Variant="Variant.Filled" Color="Color.Dark">Delete Profile</MudButton> will delete the currently selected profile from the database.
    <br /><br />
    There are two options in check boxes <b>Block Fuel Data</b> and <b>Block Location Data</b>.  These option allow the user to override sending Fuel and Location data even if set to be sent.  
    This can be useful in some situations such as FSEconomy which sets this data itself.
</div>

<br /><br />
<h4>Settings Page</h4>
<div>
    The settings page allows the user to setup the application for their needs.   The following settings are available:

    <ul class="cols2">
        <li><b>Auto save to Database</b> Turns on/off autosave functionality</li> 
        <li><b>Override (block) sending plane location (default)</b> Selects the default check/not checked for the apply page</li>
        <li><b>Override (block) sending fuel data (default)</b> Selects the default check/not checked for the apply page</li>
        <li>Select the fields that will be sent to the simulator</li> Selects which fields will be sent to the sim.  The options are grouped by category.  Select the items be clicking the checkboxes, 
        then click either add or remove depending on which operation you are doing.  The search box allows the user to look for a given setting.
    </ul>
</div>

<br /><br />
<h4>Help Page</h4>
<div>This page</div>

<br /><br />
<h4>About Page</h4>
<div>
    Information about the application and release notes for each release. 
</div>