@using AircraftStateCore.Helpers;
@using AircraftStateCore.Models;
@using AircraftStateCore.Services.Interfaces;
@using static AircraftStateCore.Components.Shared.MudBlazorZ_Transfer

@inject ISettingsData settingsData
@inject IDialogService DialogService

@page "/SettingsPage"

<h2>Settings</h2>

<div>
    <MudGrid>
        <div class="bottom-buffer"></div>
        <MudItem xs="2">
            <MudButton @onclick="() => Save()" Variant="Variant.Filled" Color="MudBlazor.Color.Primary">Save Settings</MudButton>
        </MudItem>
        <MudItem xs="10" />

        <MudItem xs="1" />
        <MudItem xs="11" class="tight-checkbox">
            <div>
                <MudCheckBox T="bool" Dense="true" @bind-Value="@settings.AutoSave" Label="Auto save to Database"
                             Color="MudBlazor.Color.Primary" />
            </div>
            <div>
                <MudTooltip text="When sending data to the sim, if the checkbox is checked, location data will not be sent, even if it is a selected field.">
                    <MudCheckBox T="bool" Dense="true" @bind-Value="@settings.BlockLocation" Label="Override (block) sending plane location (default)"
                                 Color="MudBlazor.Color.Primary" />
                </MudTooltip>
            </div>
            <div>
                <MudTooltip text="When sending data to the sim, if the checkbox is checked, fuel data will not be sent, even if it is a selected field.">
                    <MudCheckBox T="bool" Dense="true" @bind-Value="@settings.BlockFuel" Label="Override (block) sending fuel data (default)"
                                 Color="MudBlazor.Color.Primary" />
                </MudTooltip>
            </div>
        </MudItem>
        <MudItem xs="12" />
    </MudGrid>
</div>

<MudGrid>
    <MudItem xs="8">
        <MudTooltip>
            <TooltipContent>
                Select the settings that will be sent to the simulator.<br><br>
                <b>Settings may behave strangely in different aircraft, most testing done in C172 Classic.</b>
            </TooltipContent>
            <ChildContent>
                <MudBlazorZ_Transfer Items="TransferItems"
                                  LeftHeader="Select Data to send to the Sim"
                                  RightHeader="Data that will be sent"
                                  ShowSearch />
            </ChildContent>
        </MudTooltip>

    </MudItem>
</MudGrid>

@code
{
    private Settings settings;
    private List<TransferItemData> TransferItems { get; set; }

    protected async override void OnInitialized()
    {
        settingsData.OnChangeAsync += Refresh;
        settings = await settingsData.ReadSettings();

        TransferItems = new List<TransferItemData>();
        TransferItems = ConvertToTransferItemList(settings.SelectedData);
    }

    private List<TransferItemData> ConvertToTransferItemList(List<AvailableDataItem> items)
    {
        var result = new List<TransferItemData>();
        TransferItemData section = null;
        foreach (var item in items)
        {
            if (item.value.EndsWith("0") && !item.value.EndsWith(".0"))
            {
                //skip non-subheader items that end with 0 but not .0
                continue;
            }
            else if (item.value.EndsWith(".0"))
            {
                if (section != null)
                {
                    result.Add(section);
                }

                section = new TransferItemData
                {
                    Text = item.txt,
                    Value = item.value,
                    Selected = false,
                    SubItems = new List<TransferItemData>()
                };
            }
            else
            {
                if (section != null)
                {
                    section.SubItems.Add(new TransferItemData
                    {
                        Text = item.txt,
                        Value = item.value,
                        Selected = item.enabled
                    });
                }
                else
                {
                    //no section, add as top level item
                    result.Add(new TransferItemData
                    {
                        Text = item.txt,
                        Value = item.value,
                        Selected = item.enabled
                    });
                }
            }
        }

        if (section != null)
        {
            result.Add(section);
        }

        return result;
    }

    private void UpdateSettingsFromTransferItems()
    {
        foreach (var item in TransferItems)
        {
            foreach (var sub in item.SubItems)
            {
                settings.SelectedData.Where(s => s.value.Equals(sub.Value)).ToList().ForEach(s => s.enabled = sub.Selected);                
            }
        }
    }


    private async Task Refresh()
    {
        await InvokeAsync(StateHasChanged);
    }

    private async void Save()
    {
        var X = Services.DbCommon.DataPath;
        var Y = Services.DbCommon.DbName;
        UpdateSettingsFromTransferItems();
        await settingsData.SaveSettings(settings);        

        //Remove old Transfer code

        //await settingsData.SaveSettings(SelectedItems);
        var param = new DialogParameters<DialogOk>()
            {
                { x => x.Message, $"Settings saved" },
                { x => x.DialogIcon, "fa-solid fa-circle-info" },
            };
        await DialogService.ShowAsync<DialogOk>("Save", param);
    }

    //TODO - Settings - Auto Save settings on change?
}